.header{
  background-color: #F1D8A4;
  text-align: center;
  padding: 2em 2em;
}

.greenBox{
  background-color:#7EB07C;
  text-align: left;
  float: left;
  height:100%;
  padding-bottom:30em;
  Position: bottom;
}

.greyBox{
  background-color:#E0E0E0;
  margin-left: 0px;
}

.mainContent{
  background-color:#E0E0E0;
  margin-top: 0;
  width:100%;
  height: 100%;
  position: absolute;;
  border-color: black;
}

body {
  background-color: #E0E0E0;
}
